@font-face {
  font-family: 'pretendbold';
  src: url('/src/assets/fonts/Pretendard-Bold.ttf') format('truetype');
}
.Box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 17rem 4rem 17rem;
    gap: 20px;
    background-color: #ffffff;
  }
  
  .leftBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'pretendbold';

  }
  
  .content {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #555555;
  }
  
  .bluebox {
    margin-bottom: 20px;
    display: flex;
    gap: 2rem;
  }
  .blueline{
    width: 0.5rem;
    height: auto;
    background-color:#00a8cf ;
    border-radius: 1rem;
  }
  .contentbox{
    display: flex;
    flex-direction: column;
  }
  .blueboxtitle {
    font-size: 2rem;
font-family: 'pretendbold';
    color: black; /* 파란색 강조 */
    margin-bottom: 5px;
  }
  
  .address
   {
    font-size: 1rem;
    line-height: 1.5;
    color: #333333;
  }
  .email{
    font-size: 1.5rem;
    line-height: 1.5;
    color: #333333;
  }
  
  .phone {
    font-size: 2rem;
    font-family: 'pretendbold';
    color: #333333;
    font-family: 'pretendbold';

  }
  
  .rightBox {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .mapContainer {
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  