.background {
  background-image: url('/mainpage3.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  padding: 3rem 17rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.Top {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.Topwhite {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 20px;
  color: white;
}

.middle {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.know {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 11rem;
}

.know:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}


@media (max-width: 1024px) {
  .content {
      padding: 3rem 5rem; 
  }
  .Topwhite {
      font-size: 1.8rem;
  }
  .middle {
      font-size: 0.9rem;
  }
  .know {
      padding: 12px 25px;
      font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .background {
      height: auto; 
      padding: 2rem 0;
  }
  .content {
      padding: 2rem;
  }
  .Top {
      font-size: 1rem;
  }
  .Topwhite {
      font-size: 1.5rem;
  }
  .middle {
      font-size: 0.85rem;
  }
  .know {
      width: 100%; 
      padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .content {
      padding: 1.5rem;
  }
  .Top {
      font-size: 0.9rem;
  }
  .Topwhite {
      font-size: 1.3rem;
  }a
  .middle {
      font-size: 0.8rem;
  }
  .know {
      width: 100%;
      padding: 8px 15px;
      font-size: 0.85rem;
  }
}
