.Box {
  width:100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top:40px;
}

.Title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  color: #000;
}

.blue {
  color: #00B3D4;
  display: inline;
}

.subTitle {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 550;
  margin-bottom: 2.5rem;
}

.imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftimgbox {
  width: 444px;
  background-image: url('/imgbox1.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 5%;
  aspect-ratio: 1/1;
  position: relative;
}

.bottombox {
  width: 100%;
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 30% 30%;
  height: 8rem;
}

.Dell {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  left: 3rem;
  bottom: 4rem;
}

.whatthat {
  font-size: 1rem;
  color: white;
  position: absolute;
  left: 3rem;
  bottom: 2rem;
}

.rightimgbox {
  width: 444px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: 16px;
  gap: 16px;
}

.img {
  width: 13rem;
  height: 13rem;
  object-fit: cover;
  border-radius: 11%;
}

.more {
  font-size: 2rem;
  font-weight: bold;
  background-color: #00B3D4;
  width: 13rem;
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 11%;
  cursor: pointer;
}

.more svg {
  width: 2rem;
  height: 2rem;
}

.more:hover svg {
  transform: translateX(5px);
}

.impact {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 12rem;
}

.impactcontent {
  font-size: 1.5rem;
  color: #333333;
  font-weight: 500;
  line-height: 1.5;
}

.plus {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.plus:hover {
  background-color: #000;
  color: #fff;
}

.plus span {
  font-size: 1.2rem;
  font-weight: normal;
  margin-left: 1px;
}

.brand {
  width: 100%;
  margin-bottom: 2rem;
}

@media (max-width: 1024px) {
  .Box {
      padding: 40px 5rem 0rem 5rem; 
  }
  .Title {
      font-size: 2.5rem;
  }
  .subTitle {
      font-size: 1.1rem;
  }
  .rightimgbox, .leftimgbox {
      width: 24rem;
  }
  .img {
      width: 11rem;
      height: 11rem;
  }
  .more {
      width: 11rem;
      height: 11rem;
      font-size: 1.8rem;
  }
  .impact {
      gap: 8rem;
  }
  .impactcontent {
      font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .Box {
      padding: 0;
  }
  .Title {
      font-size: 2rem;
  }
  .subTitle {
      font-size: 1rem;
  }
  .imgbox {
      flex-direction: column; 
      align-items: center;
  }
  .leftimgbox, .rightimgbox {
      width: 100%;
  }
  .rightimgbox {
    margin: 30px auto;
    justify-content: space-between;
}
  
 
  .impact {
      flex-direction: column; 
      text-align: center;
      gap: 3rem;
  }
  .impactcontent {
      font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .Title {
      font-size: 1.8rem;
  }
  .subTitle {
      font-size: 0.9rem;
  }
 
  .impact {
      gap: 2rem;
  }
  .impactcontent {
      font-size: 1rem;
  }
}
